* {
    font-family: Helvetia, serif;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 40px;
}
header {
    background-color: #2B2D42;
    padding: 30px;
    margin-bottom: 10px;
    color: #8D99AE;
}
main {
    background-color: #8D99AE;
    padding: 30px;
}
footer {
    background-color: #2B2D42;
    padding: 30px;
    margin-top: 10px;
    color: #8D99AE;
}
.hoofdingkleur {
    color: #EDF2F4;
}
a {
    color: #EF233C;
}