main{
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 10px 10px;
}
main .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}
.block.block1{
    background-color: darkmagenta;
}
.block.block2{
    background-color: darkslateblue;
}
.block.block3{
    background-color: steelblue;
}
.block.block4{
    background-color: lightslategrey;
}
@media only screen and (min-width: 321px){
    .block.block1{
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .block.block2{
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
@media only screen and (min-width: 773px){
    .block.block1{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .block.block2{
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .block.block3{
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
@media only screen and (min-width: 993px){
    main{
        grid-template-columns: 1fr 2fr;
    }
    .block.block1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .block.block2{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .block.block3{
        grid-row-start: 3;
        grid-row-end: 4;
    }
}