body {
    font-family: Verdana, serif;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}
h1 {
    font-variant: all-small-caps;
    background-color: red;
}
a:hover {
    border: 2px;
    border: black;
    border: dotted;
}

.stippeltjesrand {
    border: 1px;
    border: black;
    border: dotted;
}
.linkicoon{
    width: 20px;
}