p {
    display: inline;
}

.Slider-width {
    width: 210px;
}

#Swatch {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid black;
}

#Inputs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    border: 3px solid grey;
    border-radius: 10px;
}

.savedColors {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
}

.Deletebtn {
    float: right;
}