body {
    width: 95%;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(5,auto);
    grid-template-columns: repeat(2,auto);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: left;
}

.groep-links {
    grid-column-start: 1;
    grid-column-end: 2;
    width: fit-content;
}

.groep-rechts {
    width: fit-content;
}

p {
    margin: 0;
}

